<h2>Trains!</h2>

  <% if @trains.any? %>
    <table>
      <tr>
        <th>Train Name</th>
        <th>Origin City</th>
        <th>Final Destination</th>
        <th>Departure Time</th>
        <th>Stops</th>
        <th></th>
      </tr>
    <% @trains.each() do |train| %>
    <tr>
      <td>
        <%= train.train_name %>
      </td>
      <td>
        <%= train.origin_city%>
      </td>
      <td>
        <%=train.final_destination_city%>
      </td>
      <td>
        <%=train.departure_time%>
      </td>
      <td>
        <%=train.stops%>
      </td>
      <td>
        <a href="/employee/modify_train/<%= train.id %>/">Update</a>
      </td>
      <td>
        <form action="/employee/delete_train/<%= train.id() %>/" method="post">
          <input name="_method" type="hidden" value="delete">
          <button type="submit">Delete</button>
        </form>
      </td>
    <tr>
    <% end %>
    </table>
  <% else %>

    There are no trains, there may have been an incident. Check Al-Jazeera for details.

  <% end %>

<a href="/">Go Back</a>
